.clearfix {
  overflow: auto;
}

a {
  text-decoration: none;
}

a:visited,
a:link,
a {
  color: #f58465;
}

a:hover {
  color: #52bab4;
  cursor: pointer;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
}

.wrapper {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #52bab4;
  color: white;
}

nav li {
  margin: 2px auto;
  padding: 10px 0px;
  background-color: #fff;
  color: inherit;
  width: 70%;
}



h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
  font-weight: 600;
  color: #a0a2a4;
  padding: 4rem 0 .5rem 0;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 0rem 2rem;
}

header {
  margin-top: 3rem;
}

header p {
  padding: 2rem 2rem;
}

.profile-image {
  max-width: 60%;
}

.portfolio {
  background-color: #fff;
  margin-top: 3rem;
  width: 100%;
}



.portfolio h3 {
  padding: 1rem 0 .5rem 0;
}


.portfolio li {
  margin-top: 3rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.portfolio li:last-child {
  padding-bottom: 3rem;
}

.portfolio img {
  max-width: 100%;
}

.skills {
  background-color: #52bab4;
  color: white;
}

.skills h2 {
  color: #e0ab26;
  padding-bottom: 2em;
}

.skills li {
  line-height: 2;
}

.skills ul {
  padding-bottom: 3rem;
}

.contact h2 {
  padding-bottom: 2em;
}

.border {
  margin: 0 auto;
  width: 90%;
  border-top: 1px solid #a0a2a4;
  margin-top: 2rem;
}

footer {
  margin-top: 1rem;
  padding: 2rem 0;
  overflow: auto;
}

footer li {
  display: inline;
  float: left;
  padding-left: 1rem;
}

footer li:last-child {
  float: right;
  padding-right: 1rem;
}

.desktop {
  display: none;
}


@media screen and (min-width: 768px) {

  .wrapper {
    width: 100%;
  }

  nav a:visited {
    color: white;
  }

  nav a:link {
    color: white;
  }

  nav a {
    color: white;
  }

  nav a:hover {
    color: #f58465;
  }

  nav li {
    display: inline-block;
    background-color: transparent;
    padding: 0 1rem 1rem 1rem;
    width: 10%;
  }

  .profile-image {
    float: right;
    width: 45%;
    padding: 0 2.5% 0 2.5%;
  }

  header p {
    float: left;
    width: 45%;
    padding: 0 2.5% 0 2.5%;
    text-align: left;
    font-size: 1.2rem;
  }

  .portfolio li {
    width: 45%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .contact p {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }



}


@media screen and (min-width: 1024px) {

  .wrapper {
    width: 1024px;
  }

  .name {
    float: left;
  }

  .float-right {
    float: right;
  }

  nav ul {
    float: right;
  }

  nav ul {
    float: right;
  }

  nav li {
    float: left;
    background-color: transparent;
    width: auto;
    padding: 1.5rem 2rem 1.5rem 0rem;
  }


  .portfolio li {
    width: 31.33333%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 0;
    margin-right: 0;
  }

footer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

  .desktop {
    display: inline;
  }

  .mobile {
    display: none;
  }

}
